<ion-header>
  <ion-toolbar color="dark" text-center>
    <ion-title>
      <img src="assets/5.png" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container" *ngIf="this.lng == 'he'">
    <ion-card *ngFor="let item of menu" class="crd" text-right>

      <ion-card-header class="hd">
        <img src="../../assets/{{item.Image}}">
      </ion-card-header>
      <ion-card-content  class="contentCard" text-left>
        <ion-item lines="none" text-wrap>
          <ion-label text-wrap>
            {{item.ProdName}}
          </ion-label>
        </ion-item>
        <span slot="start">{{item.Price}}</span>
        <span  class='star'>
            <img src="../../assets/star.jpg">
        </span>
     
      </ion-card-content>
    </ion-card>
  </div>
  <div class="container" *ngIf="this.lng == 'ar'">
    <ion-card *ngFor="let item of menu" class="crd" text-right>

      <ion-card-header class="hd">
        <img src="../../assets/{{item.Image}}">
      </ion-card-header>
      <ion-card-content padding class="contentCard">
          <ion-item lines="none">
            <ion-label class='prod'>
              {{item.ProdNameAr}}
            </ion-label>
            <span slot="end">{{item.Price}}</span>
          </ion-item>
        </ion-card-content>
    </ion-card>
  </div>

</ion-content>