<ion-header>
  <ion-toolbar color="dark" text-center>
    <ion-title>
      <img src="assets/5.png" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ss" *ngIf="currLang == 'he'">
  <div class="catContainer" *ngIf="categories">
      <ion-card *ngFor="let item of categories"  (click)="showMenu(item.CatID)">
        <ion-card-header>
          <ion-img src="../../assets/{{ item.ImagePath }}"></ion-img>
          <ion-card-title text-right>{{ item.Name }}</ion-card-title>
        </ion-card-header>
        <ion-card-content> </ion-card-content>
      </ion-card>
  </div>
</ion-content>
<ion-content class="ss" *ngIf="currLang == 'ar'">
  <div class="catContainer" *ngIf="categories">

      <ion-card  *ngFor="let item of categories" (click)="showMenu(item.CatID)">
        <ion-card-header>
          <ion-img src="../../assets/{{ item.ImagePath }}"></ion-img>
          <ion-card-title text-right>{{ item.NameAr }}</ion-card-title>
        </ion-card-header>
        <ion-card-content> </ion-card-content>
      </ion-card>
  </div>
</ion-content>