.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}


.menu{
  display: none;
}
.title{
  margin: 10px;
  padding: 10px;
  text-align: right;
  color:white;
}
.item-native{
  background:none;
}
ion-card{
  
  direction: rtl;
  --background:#222428;
  // --ion-item-background:#222428;
  width:40%;
  max-width: 315px;
  min-width: 160px;
  color:white;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
ion-card-title{
  color:white;
}
ion-content{

}
.sc-ion-card-md-h {
  --background:#222428;
}
.ss{
  display: flex;
  flex-wrap: wrap;
}
.catContainer{
  display: flex;
  flex-wrap: wrap;
  width:100%;
  height:70%;
  justify-content: center;
}
.custom-class{
  --background:#222428;
  color:red;
  --spinner-color: red;
}
ion-title img {
  max-height:60px;
}