<ion-header>
    <ion-toolbar color="dark">
      <ion-title>
        <img src="assets/5.png">
      </ion-title>
    </ion-toolbar>
  </ion-header>
  

<ion-content>
<div class="container">
    <ion-button color="danger" expand="full" (click)="orderNow()" *ngIf="callString"><ion-icon name="call"></ion-icon>{{callString}}</ion-button>
  <ion-card>
      <ion-card-header>
        <ion-card-subtitle>טלפון להזמנות</ion-card-subtitle>
        <ion-card-title>0545265178</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
          
      </ion-card-content>
    </ion-card>
    
  </div>
  </ion-content>
